.project-index-card.pre {
    scale: 0.2;
    opacity: 0%;
}

.project-index-card.post {
    margin-left: calc(8 * var(--mscale));
}

.title-card-number {
    position: absolute;
    width: 50%;
    z-index: 5;
}

.project1 {
    width: calc(0.75 * var(--mscale));
    bottom: calc(1.5 * var(--mscale));
    right: calc(0.63 * var(--mscale));
    z-index: 3;
}

.project1.pre {
    margin-left: calc(5.8 * var(--mscale));
    margin-top: calc(3.3 * var(--mscale));
}

.project1>.title-card-number {
    width: 30%;
    bottom: calc(0.08 * var(--mscale));
    right: calc(0.08 * var(--mscale));
}

.project2 {
    width: calc(1.25 * var(--mscale));
    bottom: calc(1.5 * var(--mscale));
    left: calc(0.62 * var(--mscale));
    z-index: 3;
}

.project2.pre {
    margin-left: calc(3.2 * var(--mscale));
    margin-top: calc(3.3 * var(--mscale));
}

.project2>.title-card-number {
    width: 25%;
    bottom: calc(0.08 * var(--mscale));
    left: calc(0.08 * var(--mscale));
}

.project3 {
    width: calc(1.1 * var(--mscale));
    bottom: calc(0.1 * var(--mscale));
    right: calc(1.65 * var(--mscale));
    z-index: 3;
}

.project3.pre {
    margin-left: calc(7.7 * var(--mscale));
    margin-top: calc(0.4 * var(--mscale));
}

.project3>.title-card-number {
    width: 30%;
    bottom: calc(0.08 * var(--mscale));
    left: calc(0.08 * var(--mscale));
}

.project4 {
    width: calc(0.85 * var(--mscale));
    bottom: calc(0.12 * var(--mscale));
    right: calc(0.36 * var(--mscale));
    z-index: 3;
}

.project4.pre {
    margin-left: calc(5.2 * var(--mscale));
    margin-top: calc(0.6 * var(--mscale));
}

.project4>.title-card-number {
    width: 40%;
    bottom: calc(0.08 * var(--mscale));
    right: calc(0.08 * var(--mscale));
}

.project5 {
    width: calc(1 * var(--mscale));
    bottom: calc(0.22 * var(--mscale));
    left: calc(0.76 * var(--mscale));
    z-index: 3;
}

.project5.pre {
    margin-left: calc(2.9 * var(--mscale));
    margin-top: calc(0.6 * var(--mscale));
}

.project5>.title-card-number {
    width: 35%;
    bottom: calc(0.08 * var(--mscale));
    right: calc(0.08 * var(--mscale));
}

.project6 {
    width: calc(0.75 * var(--mscale));
    bottom: calc(0.56 * var(--mscale));
    left: calc(1.8 * var(--mscale));
    z-index: 3;
}

.project6.pre {
    margin-left: calc(0.9 * var(--mscale));
    margin-top: calc(1.4 * var(--mscale));
}

.project6>.title-card-number {
    width: 45%;
    bottom: calc(0.08 * var(--mscale));
    left: calc(0.08 * var(--mscale));
}

.project7 {
    width: calc(1.1 * var(--mscale));
    top: calc(1.24 * var(--mscale));
    right: calc(1.1 * var(--mscale));
    z-index: 3;
}

.project7.pre {
    margin-left: calc(6.6 * var(--mscale));
    margin-bottom: calc(2.2 * var(--mscale));
}

.project7>.title-card-number {
    width: 30%;
    bottom: calc(0.08 * var(--mscale));
    left: calc(0.08 * var(--mscale));
}

.project8 {
    width: calc(0.95 * var(--mscale));
    top: calc(1.4 * var(--mscale));
    left: calc(0.38 * var(--mscale));
    z-index: 3;
}

.project8.pre {
    margin-left: calc(3.7 * var(--mscale));
    margin-bottom: calc(2.4 * var(--mscale));
}

.project8>.title-card-number {
    width: 35%;
    bottom: calc(0.08 * var(--mscale));
    left: calc(0.08 * var(--mscale));
}

.project9 {
    width: calc(0.9 * var(--mscale));
    top: calc(1 * var(--mscale));
    left: calc(1.65 * var(--mscale));
    z-index: 3;
}

.project9.pre {
    margin-left: calc(1.2 * var(--mscale));
    margin-bottom: calc(1.5 * var(--mscale));
}

.project9>.title-card-number {
    width: 30%;
    bottom: calc(0.08 * var(--mscale));
    left: calc(0.08 * var(--mscale));
}
