.pdf-page {
    pointer-events: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.pdf-page.pre,
.pdf-page.post {
    margin-bottom: calc(4.5 * var(--mscale));
}

.pdf-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pdf-viewfinder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 100%;
    height: calc(4.3 * var(--mscale));
    width: calc(6 * var(--mscale));
    overflow: hidden;
    transition:
        margin-top 1s ease-in-out,
        opacity .6s ease-in-out,
}

.pdf-viewfinder.pre,
.pdf-viewfinder.post {
    margin-top: calc(13 * var(--mscale));
    opacity: 0%;
}

.project-pdf {
    position: absolute;
    width: 100%;
    transition:
        margin-left 1s ease-in-out,
        margin-right 1s ease-in-out,
        margin-top 1s ease-in-out,
        margin-bottom 1s ease-in-out,
        rotate 1s ease-in-out,
        opacity .6s ease-in-out,
}

.nav-arrow {
    pointer-events: all;
    font-size: 48px;
    margin: 30px;
    color: rgba(9, 5, 5, 0.454);
    opacity: 100%;
    transition:
        opacity .6s ease-in-out,
}

.nav-arrow.pre,
.nav-arrow.post {
    opacity: 0%;
}

.nav-arrow:hover {
    color: rgba(0, 0, 0, 0.693);
}

.nav-arrow:active {
    color: rgba(255, 255, 255, 0.733);
}

.nav-arrow:disabled {
    color: rgba(0, 0, 0, 0.121);
}

.index-numbers {
    position: relative;
    width: calc(6 * var(--mscale));
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}

.index-number {
    pointer-events: all;
    width: 6%;
}

.index-number.one {
    transition: margin-bottom 0.6s ease-in-out .1s,
}

.index-number.two {
    transition: margin-bottom 0.6s ease-in-out .2s,
}

.index-number.three {
    transition: margin-bottom 0.6s ease-in-out .3s,
}

.index-number.four {
    transition: margin-bottom 0.6s ease-in-out .4s,
}

.index-number.five {
    transition: margin-bottom 0.6s ease-in-out .5s,
}

.index-number.six {
    transition: margin-bottom 0.6s ease-in-out .6s,
}

.index-number.seven {
    transition: margin-bottom 0.6s ease-in-out .7s,
}

.index-number.eight {
    transition: margin-bottom 0.6s ease-in-out .8s,
}

.index-number.one {
    width: 4%;
}

.index-number.highlighted,
.index-number:hover {
    filter:
        invert(100%) sepia(90%) saturate(7500%) hue-rotate(10deg) brightness(99%) contrast(102%);
}

.index-number.pre,
.index-number.post {
    margin-bottom: calc(-1.5 * var(--mscale));
}

.project-pdf.left {
    margin-right: 200%;
    opacity: 70%;
}

.project-pdf.center {
    margin-left: 0;
    margin-right: 0;
    opacity: 100%;
}

.project-pdf.right {
    margin-left: 200%;
    opacity: 70%;
}