.pdf-page {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-arrow {
    font-size: 48px;
    margin: 30px;
    color: rgba(9, 5, 5, 0.454);
}

.nav-arrow:hover {
    color: rgba(0, 0, 0, 0.693);
}

.nav-arrow:active {
    color: rgba(255, 255, 255, 0.733);
}

.nav-arrow:disabled {
    color: rgba(0, 0, 0, 0.121);
}

.pdf-viewfinder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(7 * var(--mscale));
    height: 100%;
    overflow: hidden;
}

.project-pdf {
    position: absolute;
    width: 100%;
    transition:
        margin-left 1s ease-in-out,
        margin-right 1s ease-in-out,
        margin-top 1s ease-in-out,
        margin-bottom 1s ease-in-out,
        rotate 1s ease-in-out,
        opacity .6s ease-in-out,
}

.project-pdf.left {
    margin-right: 200%;
    /* opacity: 50%; */
}

.project-pdf.center {
    margin-left: 0;
    margin-right: 0;
    opacity: 100%;
}

.project-pdf.right {
    margin-left: 200%;
    /* opacity: 50%; */
}